.carousel-item{
    padding: 20px 40px;
}
p{
    color: #979797;
}
.buy-now-button{
    background-color: #000000;
    color: #ffffff;
    padding: 8px 13px;
    border-radius: 10px;
    border: none;
}
.container{
    margin-bottom: 100px;
}
.margin-top-negitive{
    margin-top: -100px;
}
.card{
    border:none;
    box-shadow: 0 0 15px lightgray;
    border-radius: 10px;
    padding: 10px 30px;
}
.yellow-color{
    color: #FF9E02;
}
.card-footer{
    border-top: none;
    background-color: rgba(0,0,0,.0) !important
}
.height{
    height: 600px;
}
.box-shadow{
    box-shadow: 0 0 10px lightgray;
    padding: 50px;
    border-radius: 0 10px;
}
.margin-top{
    margin-top: 90px;
}
.center{
    text-align: center;
}
.height h1{
    text-align: center;
}
.carousel-indicators li{
    width: 10px;
    height: 8px;
    border-radius: 45%;
    background-color: #CECECE;
}
.carousel-indicators .active {
    background-image: linear-gradient(to right, #FFBB25, #FFD019);
    width: 30px;
    height: 8px;
    border-radius: 50% !important;
}

.border-bottom-catagories{
    width: 130px;
    height: 5px;
    margin: 0 auto;
    background-image: linear-gradient(180deg,#FFBB25, #FFD019);
    border-radius: 50px;
}
.padding{
    padding:50px
}
.banner{
    background-image: url(images/product-text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
}
.background-image-dot{
    background-image: url(images/dooted-qube.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    background-size: 10%;
}
.margin-bottom-again{
    margin-bottom: 300px;
}