.carousel-item{
    padding: 20px 40px;
}
p{
    color: #979797;
}
.buy-now-button{
    background-color: #000000;
    color: #ffffff;
    padding: 8px 13px;
    border-radius: 10px;
    border: none;
}
.container{
    margin-bottom: 100px;
}
.margin-top-negitive{
    margin-top: -100px;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.yellow-color{
    color: #FF9E02;
}
.card-footer{
    border-top: none;
}
.height{
    height: 600px;
}
.box-shadow{
    box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray;
    padding: 50px;
    border-radius: 0 10px;
}
.margin-top{
    margin-top: 90px;
}
.center{
    text-align: center;
}
.height h1{
    text-align: center;
}
/*
.border-bottom-catagories{
    border-bottom: 5px solid;
    width: 110px;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}*/


.carousel-indicators li{
    width: 10px;
    height: 8px;
    border-radius: 45%;
    background-color: #CECECE;
}
.carousel-indicators .active {
    background-image: linear-gradient(to right, #FFBB25, #FFD019);
    width: 30px;
    height: 8px;
    border-radius: 8px;
}

